@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";

.tabs {

    @include screens.laptop {
        margin: 0 60px;
    }
  
    .nav {
        @include screens.laptop {
            font-size: 24px;
        }

        &:global(.student) {

            .navListEle {
                background-color: variables.$orange;
                color: white;

                &:global(.active) {
                    background-color: variables.$orangeLigth;
                    color: black;
                }
            }
        }

        &:global(.instructor) {

            .navListEle {
                background-color: variables.$purple;
                color: white;

                &:global(.active) {
                    background-color: variables.$purpleLigth;
                    color: black;
                }
            }
        }

        &List {
            display: flex;
            justify-content: space-between;

            &Ele{
                width: 48%;
                height: 64px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 20px 20px 0 0;
            }
        }
    }

    .window {
        margin-top: 30px;

        @include screens.laptop {
            margin-top: 0;
            border-radius: 0 0 20px 20px;
        }

        &:global(.student) {

            @include screens.laptop {
                border: 6px solid variables.$orangeLigth;
            }
        }

        &:global(.instructor) {

            @include screens.laptop {
                border: 6px solid variables.$purpleLigth;
            }
        }
    }
}