@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";

.content {
    padding: 15px;
    @include screens.laptop {
        display: flex;
        padding: 0;
    }

    .desc {
        @include screens.laptop {
            width: 60%;
            padding: 0 100px 0 100px;
        }
    }
    
    .button {
        @include mixins.button(linear-gradient(to right, variables.$purple, #9D69DF), white);
    }
    
    .title {
        @include typography.heading1;
        margin-bottom: 25px;
    }

    .subtitle {
        font-family: Inter, sans-serif;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 16px;
        @include screens.laptop {
            font-size: 25px;
        }
    }

    .heure {
        font-family: Inter, sans-serif;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 16px;
        @include screens.laptop {
            margin-bottom: 18px;
        }
    }
    
    .arrow {
        color: variables.$orange;
        transform: rotate(180deg);
        height: 30px;
        margin-bottom: 15px;
    }

    .parcour {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
        gap: 14px;
    }

    .arrowDown {
        height: 40px;
    }

    .nameChemin{
        font-size: 16px;
    }

    .first {
        display: flex;
        font-size: 16px;
        align-items: center;
        margin:25px  8px;
        .check {
            width: 20px;
            height: 20px;
            border: 2px solid #8269DF;
            border-radius: 20px;
            margin-right: 8px;
        }
    }

    .prix {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        margin-bottom: 25px;
    }
}

.popup {
  background-color: white;
  width: min(calc(100% - 3rem), 32rem);
  padding: 1.5rem;
  border-radius: variables.$radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(1rem);
  transition: transform 0.1s ease-in, opacity 0.1s ease-in;

  &:global(.open) {
    transform: translateY(0);
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
  }

  @include screens.laptop {
    padding: 3rem;
  }

  .title {
    @include typography.heading3;

    margin-bottom: 2rem;
  }

  .parcour {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: fit-content;
      gap: 14px;
  }

  .arrowDown {
      height: 40px;
  }

  .nameChemin{
      font-size: 16px;
  }

  .prix {
      font-size: 16px;
      margin-bottom: 25px;
  }

  .button {
    @include mixins.button(linear-gradient(to right, variables.$purple, #9D69DF), white);

    margin-top: 2rem;
  }
}
