@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";

.list {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  position: relative;
  width: 100vw;
  left: -1.5rem;
  padding: 0 1.5rem;

  @include screens.laptop {
    gap: 2rem;
    width: fit-content;
  }
}

.instructor {
  flex: 0 0 auto;

  .image {
    width: 16rem;
    border-radius: variables.$radius;
  }

  .name {
    @include typography.heading3;

    margin: 0.5rem 0;
  }

  .stars {
    display: flex;
    gap: 0.25rem;
  }
}