@use "../../../styles/mixins";
@use "../../../styles/screens";
@use "../../../styles/typography";
@use "../../../styles/variables";
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    &__section {
        width: 100%;
    }
    label {
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    input {
        width: 100%;
        padding: 5px;
        border: 2px solid #36304B;
        border-radius: 20px;
        margin-bottom: 1rem;
    }
    &__section div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__section {
        margin-bottom: 2rem;
    }
    &__soustitre {
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        width: 100%
    }
    &__btn {
        @include mixins.button(linear-gradient(to right, variables.$purple, #9D69DF), white);
    }
    &__sectionImg {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__img {
        margin-bottom: 1rem;
    }
    div.form__documentSection {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1rem;
        p {
            font-size: 1.1rem;
            font-weight: 600;
            width: 70%;
        }
        a {
            background-color: #36304B;
            color: white;
            padding: 5px 1rem;
            border-radius: 15px;
            border: 2px solid white;

            &:hover {
                background-color: white;
                color: #36304B;
                border: 2px solid #36304B;
            }
        }
    }
    input.form__inputAuto {
        width: auto;
        align-self: flex-start;
    }
    
    input.form__inputAutoCrypto {
        width: 5ch;
        align-self: flex-start;
    }
}
@include screens.laptop {
    .form {
        padding: 2rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: inherit;
        align-items: flex-start;
        &__section {
            width: 33%;
        }
        &__soustitre {
            text-align: left;
        }
        &__identite {
            order: 1;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            div {
                width: 45%;
            }
        }
        &__documents {
            h3 {
                text-align: center;
            }
            order: 2;
            padding:  0 2rem;
            div {
                display: flex;
                flex-direction: column !important;
                align-items: center;
                p {
                    margin-bottom: 1rem;
                    text-align: center;
                }
            }
        }
        &__sectionImg {
            order: 3;
            margin-bottom: inherit;
        }
        &__paiement {
            h3 {
                text-align: left;
                width: 100%;
            }
            div {
                width: 33%;
            }
            display: flex;
            flex-wrap: wrap;
            order: 4;
            width: 100%;
           
        }
        .enregistrer {
            order: 5;
            width: 100%;
        }
    }
}