@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";

.session {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include screens.laptop {
    flex-direction: row;
  }

  .date {
    @include typography.heading3;
  }

  .buttonContainer {
    display: flex;
    gap: 1rem;

    @include screens.laptop {
      margin-left: auto;
    }

    .button {
      @include mixins.button(linear-gradient(to right, variables.$purple, #9D69DF), white);
    }
  }
}