@use "../mixins";
@use "../screens";
@use "../typography";
@use "../variables";

.main {
  position: relative;
  overflow: hidden;

  &::before {
    @include mixins.background-circle(rgba(variables.$purple, 0.1));

    content: "";
    inset: 0 auto auto 0;
    transform: translate(-50%, -50%);
  }

  &::after {
    @include mixins.background-circle(rgba(variables.$purple, 0.1));

    content: "";
    inset: auto 0 0 auto;
    transform: translate(50%, 50%);
  }
}

.content {
    padding: 15px;

    @include screens.laptop {
      padding: 4rem 8rem
    }

    .subtitle {
        @include typography.heading2;
        margin-bottom: 64px;
    }
    .component {
        margin-bottom: 64px;
    }
}

.link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1%;
    margin-bottom: 64px;
    .text {
        display: flex;
        align-items: center;
        width: 59%;
        font-size: 20px;
        color: variables.$purple;
    }
    .line {
        width: 40%;
        height: 1px;
        background-color: variables.$purple;
    }
}
