@use "screens";

@mixin heading1 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 2rem;

  @include screens.laptop {
    font-size: 4rem;
  }
}

@mixin heading2 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;

  @include screens.laptop {
    font-size: 3rem;
  }
}

@mixin heading3 {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 1.25rem;

  @include screens.laptop {
    font-size: 1.5rem;
  }
}