@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";

.monitor {
    width: 80%;
    margin: 20px auto;
}

.subtitle {
    margin-top: 30px;
    font-size: 35px;
    font-weight: bold;
}

.cours {
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
    border: 2px solid #DAD0FF;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 20px;
    text-align: center;
}

.place {
    text-align: right;
}

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: underline;

    button {
        margin-left: 20px;
    }
}

@include screens.laptop {
    .cours {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        text-align:initial;
    }
}