@use "../../styles/mixins";
@use "../../styles/screens";
@use "../../styles/typography";
@use "../../styles/variables";

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 42px;

    @include screens.laptop {
      flex-direction: row;
    }

    .item {
        background-color:variables.$orange;
        box-shadow: variables.$shadow;
        height: 180px;
        width: 180px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .duree {
            @include typography.heading2;
            font-size: 20px;
            margin-bottom: 5px;
        }
        .date {
            @include typography.heading2;
            font-size: 20px;
            margin-bottom: 5px;
        }
        .heure {
            @include typography.heading2;
            font-size: 20px;
            margin-bottom: 5px;
        }

        @include screens.laptop {
          width: fit-content;
          height: fit-content;
          padding: 3rem;

          .duree, .date, .heure {
            @include typography.heading3;
          }
        }
        .instructeur {
            font-size: 14px;
            margin-bottom: 14px;
        }
    }
}